params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 1
    max_memory = '2.GB'
    max_time   = '30.m'

    // Input data
    input = "https://raw.githubusercontent.com/imperial-genomics-facility/Fastq_qc_check_nextflow/refs/heads/main/test_data/samplesheet/samplesheet.csv"

}