process {
    withLabel:process_single {
      cpus = { 1 * task.attempt }
      memory = { 4.GB * task.attempt }
      time = { 2.h * task.attempt }
      errorStrategy = { task.attempt <= 4 ? 'retry' : 'finish' }
      maxRetries = 4
    }
    withLabel:process_low {
      cpus = { 1 * task.attempt }
      memory = { 4.GB * task.attempt }
      time = { 2.h * task.attempt }
      errorStrategy = { task.attempt <= 4 ? 'retry' : 'finish' }
      maxRetries = 4
    }
}

workflow {
  output {
    mode = 'copy'
  }
}